.taskBox {
  padding: 14px !important;
  width: 90%;
  margin: 5px 5% 5px;
  background-color: white;
  top: 220px;
  text-align: right !important;
}

.headerTxt {
  font-weight: bold;
  font-size: 18px;
  color: rgb(67, 160, 46);
}

.txt {
  font-size: 15px;
  // color: gray;
  margin-top: 2px;
}

.txtGreen {
  color: green;
}
